.showContextMenu {
    z-index:1000;
    position: absolute;
    position: fixed;
    background-color:white;
    border: 1px solid blue;
    padding: 2px;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;


    border: 1px solid #dddddd;
    padding: 20px;
    padding: 10px;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
    right: 10px;
    top: 10px;
    width: 350px;
    background-color: #f2f2f2;
}

.hideContextMenu {
    display: none;
}

.show li{ list-style: none; }
.show a { border: 0 !important; text-decoration: none; }
.show a:hover { text-decoration: underline !important; }