
.highlight {
    background-color: #FFC619;
    opacity: 0.3;
    opacity: 0.9;
}
.highlight2 {
    background-color: #FFC619;
    opacity: 0.5;
}

.highlight3 {
    background-color: #14CCA0;
    opacity: 0.5;
}


.highlight4 {
    background-color: #a94442;
    opacity: 0.5;
}

